<div class="wrapper-white-flex">
  <div class="title">
    <h1>LE PROJET</h1>
  </div>
  <div class="paragraphs text-center">
    <h5>Peut-être votre médecin vous l’a-t-il dit ? Mais surtout, « ne cherchez pas sur Internet ». Internet est un trésor, certes, mais les témoignages fatalistes et les informations peu qualitatives y grouillent. Y trouvez les articles, les conseils « pépites » demandent un peu de temps et de patience. Alors, par souci pour votre santé et pour votre moral, vos médecins vous demandent parfois de ne pas aller chercher sur Internet. Oui, vous avez un cancer, la nouvelle est déjà terrible, n’est-il peut-être pas nécessaire de lire sur des forums que la mort vous guette.

    <br>
    <br>

    Mon projet a pour but de regrouper les pépites d’Internet sur la maladie (les blogs, les sites Internet des associations, les articles de qualité, les nouvelles recherches et avancées sur la maladie, les livres …). Faire des recherches sur sa maladie ne devrait pas être une aventure à travers l’Amazonie. J’espère que cette expérience pour vous sera aussi agréable qu’une balade sur la Seine un beau jour de printemps.
    </h5>
  </div>
</div>

<div class="banner">
  <%= image_tag asset_path("search-clcds-illustration.png"), class: "banner-illustration" %>
</div>

<div class="wrapper-white-flex">
  <div class="title">
    <h1>MON HISTOIRE</h1>
  </div>
  <div class="paragraphs text-center">
    <h5>La nouvelle est tombée un gris matin de mars 2017. A 26 ans, sans aucun antécédent dans la famille, je venais d’être diagnostiquée d’un cancer du sein, de type « triple négatif ». Comme la plupart des cancers chez les jeunes, sa progression est rapide, le grade est élevé (III).

    <br>
    <br>

    Aujourd’hui, je vais bien. Ma rémission a commencé un an après avec un changement de carrière. D’analyste financière en Venture Capital, j’ai entamé une formation en développement web. Avec ces nouvelles compétences, je me suis lancée dans une quête thérapeutique : ce premier projet.
    </h5>
  </div>
</div>
