/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 40px;
  text-align: center;
  background: transparent;
  border: 0;
}
.alert-info {
  background: $green;
}
.alert-warning {
  color: $red;
  font-style: italic;
}
