.filtering-form {
  display: flex;
}

.filter-button {
  background-color: $light-crimson;
  border-radius: 30px;
  margin: 20px;
  h4 {
    margin: 0;
    padding: 0;
  }
  &:hover {
    color: white;
    background-color: $light-crimson;
    opacity: 0.5;
  }
}
