/* hi-res laptops and desktops */
@media (min-device-width: 1281px) {
  // Navbar Overall

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lavender-blush;
    height: auto;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    i {
      margin-bottom: 0.5rem;
    }
  }

  .item-navbar-right-pink {
    padding: 0 10px;
    a {
      text-decoration: none;
      color: $light-crimson;
      &:hover {
        color: $black-shadows;
      }
    }
  }

  .item-navbar-right-grey {
    padding: 0 10px;
    a {
      text-decoration: none;
      color: $black-shadows;
      &:hover {
        color: $light-crimson;
      }
    }
  }

  .item-navbar-right-black {
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $light-crimson;
      }
    }
    i {
      font-size: 20px;
      padding-bottom: 5px;
      padding-right: 10px;
    }
  }

  .logo-navbar {
    width: 250px;
  }

  .logo-navbar-all {
    width: 250px;
  }

  .navbar-over-right {
    display: flex;
  }

  .search-nav {
    display: none;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px) {
  // Navbar Overall

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lavender-blush;
  }

  .navbar-home {
    height: 110px;
  }

  .navbar-all {
    height: 250px;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .item-navbar-right-pink {
    padding: 0 30px;
    a {
      text-decoration: none;
      color: $light-crimson;
      &:hover {
        color: $black-shadows;
      }
    }
  }

  .item-navbar-right-grey {
    padding: 0 30px;
    a {
      text-decoration: none;
      color: $black-shadows;
      &:hover {
        color: $light-crimson;
      }
    }
  }

  .logo-navbar {
    width: 250px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lavender-blush;
    height: auto;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    i {
      margin-bottom: 0.5rem;
    }
  }

  .item-navbar-right-pink {
    padding: 0 10px;
    a {
      text-decoration: none;
      color: $light-crimson;
      &:hover {
        color: $black-shadows;
      }
    }
  }

  .item-navbar-right-grey {
    padding: 0 10px;
    a {
      text-decoration: none;
      color: $black-shadows;
      &:hover {
        color: $light-crimson;
      }
    }
  }

  .item-navbar-right-black {
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $light-crimson;
      }
    }
    i {
      font-size: 20px;
      padding-bottom: 5px;
      padding-right: 10px;
    }
  }

  .logo-navbar {
    width: 250px;
  }

  .logo-navbar-all {
    width: 250px;
  }

  .navbar-over-right {
    display: flex;
  }

  .search-nav {
    display: none;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px) {
  // Navbar Overall

  .extra-pad {
    padding-bottom: 40px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lavender-blush;
    height: auto;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
    i {
      margin-bottom: 0.5rem;
    }
  }

  .item-navbar-right-pink {
    padding: 0 30px;
    h6 {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: $light-crimson;
      &:hover {
        color: $black-shadows;
      }
    }
  }

  .item-navbar-right-grey {
    padding: 0 30px;
    h6 {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: $black-shadows;
      &:hover {
        color: $light-crimson;
      }
    }
  }

  .logo-navbar {
    width: 250px;
    margin-top: 30px;
    margin-left: 10px;
  }

  .logo-navbar-all {
    width: 250px;
    margin-left: 10px;
  }

  .navbar-toggler {
    border: 2px solid #EA638C;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 10px;
    &:focus {
      outline: none;
    }
    i {
      font-size: 30px;
      color: $light-crimson;
    }
  }

  nav .show {
    margin-top: 20px;
    border: 2px solid #EA638C;
    padding: 15px 15px;
    border-radius: 8px;
    h6 {
      margin-bottom: 0;
    }
  }

  .item-navbar-right-black {
    display: none;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $light-crimson;
      }
    }
    i {
      font-size: 50px;
      padding-top: 10px;
    }
  }

  .navbar-over-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-nav {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: $white-smoke;
    form {
      position: relative;
    }
    i {
      color: $light-crimson;
      font-size: 33px;
    }
  }

  .nb-rgt-coll-desktop {
    display: none;
  }

  #query {
    font-size: 20px;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px) {
  // Navbar Overall

  .extra-pad {
    padding-bottom: 40px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lavender-blush;
    height: auto;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
    i {
      margin-bottom: 0.5rem;
    }
  }

  .item-navbar-right-pink {
    padding: 0 30px;
    h6 {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: $light-crimson;
      &:hover {
        color: $black-shadows;
      }
    }
  }

  .item-navbar-right-grey {
    padding: 0 30px;
    h6 {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: $black-shadows;
      &:hover {
        color: $light-crimson;
      }
    }
  }

  .logo-navbar {
    width: 250px;
    margin-top: 30px;
    margin-left: 10px;
  }

  .logo-navbar-all {
    width: 250px;
    margin-left: 10px;
  }

  .navbar-toggler {
    border: 2px solid #EA638C;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 10px;
    &:focus {
      outline: none;
    }
    i {
      font-size: 60px;
      color: $light-crimson;
    }
  }

  nav .show {
    margin-top: 20px;
    border: 2px solid #EA638C;
    padding: 15px 15px;
    border-radius: 8px;
    h6 {
      margin-bottom: 0;
    }
  }

  .item-navbar-right-black {
    display: none;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $light-crimson;
      }
    }
    i {
      font-size: 50px;
      padding-top: 10px;
    }
  }

  .navbar-over-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-nav {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: $white-smoke;
    form {
      position: relative;
    }
    i {
      color: $light-crimson;
      font-size: 50px;
    }
  }

  .nb-rgt-coll-desktop {
    display: none;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px) {
  // Navbar Overall

  .extra-pad {
    padding-bottom: 40px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lavender-blush;
    height: auto;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
    i {
      margin-bottom: 0.5rem;
    }
  }

  .item-navbar-right-pink {
    padding: 0 30px;
    h6 {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: $light-crimson;
      &:hover {
        color: $black-shadows;
      }
    }
  }

  .item-navbar-right-grey {
    padding: 0 30px;
    h6 {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: $black-shadows;
      &:hover {
        color: $light-crimson;
      }
    }
  }

  .logo-navbar {
    width: 475px;
    margin-top: 30px;
    margin-left: 10px;
  }

  .logo-navbar-all {
    width: 475px;
    margin-left: 10px;
  }

  .navbar-toggler {
    border: 2px solid #EA638C;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 10px;
    &:focus {
      outline: none;
    }
    i {
      font-size: 60px;
      color: $light-crimson;
    }
  }

  nav .show {
    margin-top: 20px;
    border: 2px solid #EA638C;
    padding: 15px 15px;
    border-radius: 8px;
    h6 {
      margin-bottom: 0;
    }
  }

  .item-navbar-right-black {
    display: none;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $light-crimson;
      }
    }
    i {
      font-size: 50px;
      padding-top: 10px;
    }
  }

  .navbar-over-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-nav {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: $white-smoke;
    form {
      position: relative;
    }
    i {
      color: $light-crimson;
      font-size: 50px;
    }
  }

  .nb-rgt-coll-desktop {
    display: none;
  }
}
