/* hi-res laptops and desktops */
@media (min-device-width: 1281px) {
  .transparent-background {
    background-color: transparent;
  }

  .searchbar-medium {
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }

  .searchbar-medium-wide {
    border: 1px solid white;
    border-radius: 40px;
    width: 250px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px) {
  .transparent-background {
    background-color: transparent;
  }

  .searchbar-medium {
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }

  .searchbar-medium-wide {
    border: 1px solid white;
    border-radius: 40px;
    width: 250px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) {
  .transparent-background {
    background-color: transparent;
  }

  .searchbar-medium {
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }

  .searchbar-medium-wide {
    border: 1px solid white;
    border-radius: 40px;
    width: 150px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px) {
  .transparent-background {
    background-color: transparent;
  }

  .searchbar-medium {
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }

  .searchbar-medium-wide {
    border: 1px solid white;
    border-radius: 40px;
    width: 250px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px) {
  .transparent-background {
    background-color: transparent;
  }

  .searchbar-medium {
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }

  .searchbar-medium-wide {
    border: 1px solid white;
    border-radius: 40px;
    width: 250px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px) {
  .transparent-background {
    background-color: transparent;
  }

  .searchbar-medium {
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }

  .searchbar-medium-wide {
    border: 1px solid white;
    border-radius: 40px;
    width: 250px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    transition: all 0.3s;
    &:focus {
      outline: none !important;
      border:1px solid $light-crimson;
      box-shadow: 0 0 5px $light-crimson;
    }
  }
}













