/* hi-res laptops and desktops */
@media (min-device-width: 1281px) {
  .catchphrase-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .tips {
    p {
      color: $black-shadows;
      font-style: italic;
    }
    margin-top: 10px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px) {
  .catchphrase-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .tips {
    p {
      color: $black-shadows;
      font-style: italic;
    }
    margin-top: 10px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) {
  .catchphrase-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .tips {
    p {
      color: $black-shadows;
      font-style: italic;
    }
    margin-top: 10px;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px) {
  .catchphrase-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .tips {
    p {
      color: $black-shadows;
      font-style: italic;
    }
    margin-top: 10px;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px) {
  .catchphrase-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .tips {
    p {
      color: $black-shadows;
      font-style: italic;
    }
    margin-top: 10px;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px) {
  .catchphrase-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .tips {
    p {
      color: $black-shadows;
      font-style: italic;
    }
    margin-top: 10px;
  }
}
