/* hi-res laptops and desktops */
@media (min-device-width: 1281px) {
  .wrapper-pink {
    background-color: $lavender-blush;
    height: 90vh;
    display: flex;
  }
  .wrapper-white {
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-device-width:1025px) and (max-device-width: 1280px) {
  .wrapper-pink {
    background-color: $lavender-blush;
    height: 90vh;
    display: flex;
  }

  .wrapper-white {
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-device-width:961px) and (max-device-width: 1024px) {
  .wrapper-pink {
    background-color: $lavender-blush;
    height: 90vh;
    display: flex;
  }

  .wrapper-white {
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-device-width:641px) and (max-device-width: 960px) {
  .wrapper-pink {
    background-color: $lavender-blush;
    height: calc(100vh - 110px);
    display: flex;
  }

  .wrapper-white {
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-device-width:481px) and (max-device-width: 640px) {
  .wrapper-pink {
    background-color: $lavender-blush;
    height: calc(100vh - 110px);
    display: flex;
  }

  .wrapper-white {
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-device-width:320px) and (max-device-width: 480px) {
  .wrapper-pink {
    background-color: $lavender-blush;
    height: calc(100vh - 110px);
    display: flex;
  }

  .wrapper-white {
    background-color: white;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    h2 {
      font-size: 2.5rem;
    }
    h6 {
      font-size: 2rem;
      padding-left: 5px;
    }
  }
}
